opencode.sammohr.dev {
    reverse_proxy smortress:4000 {
        transport http {
            keepalive_idle_conns_per_host 0
            dial_timeout 5s
        }
        health_uri /
        health_interval 15s
        health_timeout 5s
    }
}
