omp.sammohr.dev {
    basic_auth {
        smores {$OMP_ACP_BASIC_AUTH_HASH}
    }

    reverse_proxy smortress:8193 {
        transport http {
            keepalive_idle_conns_per_host 0
            dial_timeout 5s
        }
        health_uri /
        health_interval 15s
        health_timeout 5s
    }
}
