omp.sammohr.dev {
    basic_auth {
        smores {$OMP_ACP_BASIC_AUTH_HASH}
    }

    @websocket {
        header Connection *Upgrade*
        header Upgrade websocket
    }
    handle @websocket {
        reverse_proxy smortress:8193
    }

    handle {
        root * /home/smores/acp-ui-dist
        try_files {path} /index.html
        file_server
    }
}
